@import "@fortawesome/fontawesome-free/css/all.css";

:root {
    --vw: 1vw;
    --single_post_title_font_size: 34px;
    --single_post_title_font_size_tb: 30px;
    --single_post_title_font_size_sp: 20px;
    --font_family_type1: Arial, "ヒラギノ角ゴ ProN W3",
        "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
    --font_family_type2: Arial, "Hiragino Sans", "ヒラギノ角ゴ ProN",
        "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo,
        sans-serif;
    --font_family_type3: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体",
        "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro",
        "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
}

body {
    font-size: 16px;
}

.large_headline {
    font-size: 70px !important;
}

.rich_font {
    font-size: 34px !important;
}

@media screen and (max-width: 1100px) {
    .large_headline {
        font-size: 55px !important;
    }

    .rich_font {
        font-size: 31px !important;
    }
}

@media screen and (max-width: 800px) {
    body {
        font-size: 16px;
    }

    .large_headline {
        font-size: 30px !important;
    }

    .rich_font {
        font-size: 22px !important;
    }
    .header-container {
        display: none
    }

}

body,
input,
textarea {
    font-weight: 500;
    font-family: var(--font_family_type2);
}

.rich_font,
.p-vertical {
    font-family: var(--font_family_type2);
    font-weight: 600;
}

.large_headline {
    font-family: var(--font_family_type2);
    font-weight: 600;
}

#single_post_header .title {
    font-family: var(--font_family_type2);
    font-weight: 600;
}

.rich_font_type1 {
    font-family: var(--font_family_type1);
    font-weight: 600;
}

.rich_font_type2 {
    font-family: var(--font_family_type2);
    font-weight: 600;
}

.rich_font_type3 {
    font-family: var(--font_family_type3);
    font-weight: 600;
}

.logo_text {
    font-size: 26px;
}

@media screen and (max-width: 1201px) {
    .logo_text {
        font-size: 20px;
    }
}

#footer_banner .title {
    font-size: 50px !important;
}

@media screen and (max-width: 1100px) {
    #footer_banner .title {
        font-size: 44px !important;
    }
}

@media screen and (max-width: 800px) {
    #footer_banner .title {
        font-size: 30px !important;
    }
}

@media (hover: hover) {
    .animate_background .image_wrap img {
        width: 100%;
        height: 100%;
        will-change: transform;
        transition: transform 0.5s ease;
    }

    .animate_background:hover .image_wrap img {
        transform: scale(1.1);
    }
}

a {
    color: #000;
}

a:hover,
.category_button,
.sub_title.colored,
#global_menu > ul > li > a:hover,
.faq_list .headline,
#bread_crumb,
#bread_crumb li.last,
.faq_list .title.active,
.widget_categories li a:hover,
.widget_archive li a:hover,
.widget_pages li a:hover,
.widget_nav_menu li a:hover,
.design_button,
.service_category_content .post_list .title,
.service_header .archive_link .label,
.megamenu_b .arrow:after,
.megamenu_b .sub_title.arrow,
.news_category_button a:hover,
#footer_banner a:hover .arrow_button:before,
#footer_banner a:hover .arrow_button:after,
.service_category_post_list .title,
#post_pagination a:hover,
.page_navi a:hover,
#return_top a:hover .arrow:before,
#return_top a:hover .arrow:after,
#service_link_list .link_label,
body.megamenu_dark_color .megamenu_a a:hover,
.arrow_link_button a,
.megamenu_b .arrow_link,
.megamenu_b .post_list .arrow_link .arrow_button_small,
#header_slider_wrap.layout_type3 .desc_area a:hover,
#company_data_list h4,
.lp3_bottom_content .item_list a,
#service_link_list .post_list.type1 .catch,
#service_link_list .post_list.type2 .catch {
    color: #507878;
}

.cardlink .title a,
#global_menu > ul > li.active > a,
#global_menu > ul > li.current-menu-item > a,
.design_arrow_button a,
.swiper-nav-button:hover .arrow_button_small:before,
.swiper-nav-button:hover .arrow_button_small:after {
    color: #507878 !important;
}

.page_navi span.current,
#global_menu ul ul a:hover,
.arrow_button,
#submit_comment,
#post_pagination p,
#comment_tab li.active a,
.widget_tab_post_list_button div.active,
.widget_categories a:before,
.q_styled_ol li:before,
#copyright,
.tcdw_tag_list_widget ol a:hover,
.widget_tag_cloud .tagcloud a:hover,
#wp-calendar tbody a:hover,
#post_tag_list a:hover,
#wp-calendar #prev a:hover,
#wp-calendar #next a:hover,
#wp-calendar td a:hover,
.news_category_button li.current a,
.swiper-scrollbar-drag,
.cb_service_category_list .post_list a:after,
.shutter_image.link_ver .post_list a:after,
.design_button:hover,
#mobile_menu li li a {
    background-color: #507878;
}

.category_button,
.page_navi span.current,
#post_pagination p,
#comment_textarea textarea:focus,
#guest_info input:focus,
.c-pw__box-input:focus,
.news_category_button li.current a,
.news_category_button a:hover,
#post_pagination a:hover,
.page_navi a:hover,
.design_button {
    border-color: #507878;
}

.category_button:hover,
.single_post_nav:hover span:after,
.faq_list .title:hover,
#single_author_title_area .author_link li a:hover:before,
.author_profile a:hover,
#post_meta_bottom a:hover,
.cardlink_title a:hover,
.comment a:hover,
.comment_form_wrapper a:hover,
.megamenu_b .sub_title.arrow:hover,
.megamenu_b .arrow_link:hover,
body.megamenu_dark_color .megamenu_b a:hover {
    color: #e12200;
}

.design_arrow_button a:hover {
    color: #e12200 !important;
}

.c-pw__btn:hover,
#comment_tab li a:hover,
#submit_comment:hover,
#cancel_comment_reply a:hover,
#comment_tab li a:hover,
.cb_service_category_list .post_list a:hover:after,
.shutter_image.link_ver .post_list a:hover:after {
    background-color: #e12200;
}

.category_button:hover,
.tcdw_tag_list_widget ol a:hover,
.widget_tag_cloud .tagcloud a:hover {
    border-color: #e12200;
}

.post_content a,
.widget_block a,
.textwidget a,
#no_post a,
#page_404_header .desc a,
#no_search_result a {
    color: #507878;
}

#page_404_header .desc a:hover {
    color: #507878;
}

.widget_block a:hover,
.textwidget a:hover,
#no_post a:hover {
    color: rgba(255, 64, 0, 0.6);
}

.post_content a:hover {
    color: #507878;
}

.styled_h2 {
    font-size: 28px !important;
    text-align: center !important;
    font-weight: 600 !important;
    color: #000000;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
}

@media screen and (max-width: 800px) {
    .styled_h2 {
        font-size: 22px !important;
    }
}

.styled_h3 {
    font-size: 23px !important;
    text-align: left !important;
    font-weight: 600 !important;
    color: #000000;
    border-color: #507878;
    border-width: 4px;
    border-style: solid;
    padding-left: 1em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
}

@media screen and (max-width: 800px) {
    .styled_h3 {
        font-size: 20px !important;
    }
}

.styled_h4 {
    font-size: 22px !important;
    text-align: left !important;
    font-weight: 500 !important;
    color: #000000;
    border-color: #dddddd;
    border-width: 1px;
    border-style: dotted;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-bottom: 0.8em !important;
    background-color: transparent;
}

@media screen and (max-width: 800px) {
    .styled_h4 {
        font-size: 18px !important;
    }
}

.styled_h5 {
    font-size: 20px !important;
    text-align: left !important;
    font-weight: 500 !important;
    color: #000000;
    border-color: #000000;
    border-width: 3px;
    border-style: double;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-color: #f2f2f2;
    padding: 0.8em 1em !important;
}

@media screen and (max-width: 800px) {
    .styled_h5 {
        font-size: 16px !important;
    }
}

.post_content a.q_custom_button1 {
    width: 280px;
    height: 60px;
    line-height: 60px;
    border-radius: 70px;
    color: #ffffff;
    background-color: #507878;
    border: none;
}

.post_content a.q_custom_button1:before {
    color: #ffffff;
    background-color: #ff8259;
    opacity: 0;
}

.post_content a.q_custom_button1:hover {
}

.post_content a.q_custom_button1:hover:before {
    opacity: 1;
}

@media (max-width: 1200px) {
    .post_content a.q_custom_button1 {
        width: 260px;
    }
}

@media (max-width: 800px) {
    .post_content a.q_custom_button1 {
        width: 240px;
        height: 50px;
        line-height: 50px;
    }
}

.post_content a.q_custom_button2 {
    width: 280px;
    height: 60px;
    line-height: 60px;
    border-radius: 6px;
    color: #428dbf;
    border-color: #428dbf;
}

.post_content a.q_custom_button2:before {
    background-color: #428dbf;
    left: calc(-100% - 110px);
    transform: skewX(45deg);
    width: calc(100% + 70px);
}

.post_content a.q_custom_button2:hover {
    color: #ffffff;
    border-color: #428dbf;
}

.post_content a.q_custom_button2:hover:before {
    left: -35px;
}

@media (max-width: 1200px) {
    .post_content a.q_custom_button2 {
        width: 260px;
    }
}

@media (max-width: 800px) {
    .post_content a.q_custom_button2 {
        width: 240px;
        height: 50px;
        line-height: 50px;
    }
}

.post_content a.q_custom_button3 {
    width: 280px;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    color: #ffffff;
    background-color: #375c60;
    border: none;
}

.post_content a.q_custom_button3:before {
    color: #ffffff;
    background-color: #5a898e;
    left: -100%;
}

.post_content a.q_custom_button3:hover {
}

.post_content a.q_custom_button3:hover:before {
    left: 0;
}

@media (max-width: 1200px) {
    .post_content a.q_custom_button3 {
        width: 260px;
    }
}

@media (max-width: 800px) {
    .post_content a.q_custom_button3 {
        width: 240px;
        height: 50px;
        line-height: 50px;
    }
}

.q_frame1 {
    background: #ffffff;
    border-radius: 0px;
    border-width: 1px;
    border-color: #dddddd;
    border-style: solid;
}

.q_frame1 .q_frame_label {
    color: #000000;
}

.q_frame2 {
    background: #ffffff;
    border-radius: 0px;
    border-width: 1px;
    border-color: #009aff;
    border-style: solid;
}

.q_frame2 .q_frame_label {
    color: #009aff;
}

.q_frame3 {
    background: #ffffff;
    border-radius: 10px;
    border-width: 1px;
    border-color: #f9b42d;
    border-style: solid;
}

.q_frame3 .q_frame_label {
    color: #f9b42d;
}

.q_underline1 {
    font-weight: 600;
    background-image: -webkit-linear-gradient(
        left,
        transparent 50%,
        #ff845b 50%
    );
    background-image: -moz-linear-gradient(left, transparent 50%, #ff845b 50%);
    background-image: linear-gradient(to right, transparent 50%, #ff845b 50%);
}

.q_underline2 {
    font-weight: 600;
    background-image: -webkit-linear-gradient(
        left,
        transparent 50%,
        #99f9ff 50%
    );
    background-image: -moz-linear-gradient(left, transparent 50%, #99f9ff 50%);
    background-image: linear-gradient(to right, transparent 50%, #99f9ff 50%);
}

.q_underline3 {
    font-weight: 600;
    background-image: -webkit-linear-gradient(
        left,
        transparent 50%,
        #ff99b8 50%
    );
    background-image: -moz-linear-gradient(left, transparent 50%, #ff99b8 50%);
    background-image: linear-gradient(to right, transparent 50%, #ff99b8 50%);
}

.speech_balloon1 .speech_balloon_text_inner {
    color: #000000;
    background-color: #ffffff;
    border-color: #507878;
}

.speech_balloon1 .before {
    border-left-color: #507878;
}

.speech_balloon1 .after {
    border-right-color: #ffffff;
}

.speech_balloon2 .speech_balloon_text_inner {
    color: #000000;
    background-color: #ffffff;
    border-color: #ff5353;
}

.speech_balloon2 .before {
    border-left-color: #ff5353;
}

.speech_balloon2 .after {
    border-right-color: #ffffff;
}

.speech_balloon3 .speech_balloon_text_inner {
    color: #000000;
    background-color: #ffffff;
    border-color: #1578d6;
}

.speech_balloon3 .before {
    border-left-color: #1578d6;
}

.speech_balloon3 .after {
    border-right-color: #ffffff;
}

.speech_balloon4 .speech_balloon_text_inner {
    color: #000000;
    background-color: #ffffff;
    border-color: #0789b5;
}

.speech_balloon4 .before {
    border-left-color: #0789b5;
}

.speech_balloon4 .after {
    border-right-color: #ffffff;
}

.qt_google_map .pb_googlemap_custom-overlay-inner {
    background: #000000;
    color: #ffffff;
}

.qt_google_map .pb_googlemap_custom-overlay-inner::after {
    border-color: #000000 transparent transparent transparent;
}

.catch {
    color: #507878 !important;
}


        /* Laptop用スタイル */
        @media screen and (min-width:770px) {
            nav ul {
                display: flex;
                justify-content: center;
                list-style-type: none;
                margin-top: 10px;
            }
            
            .header_for_pc {
                background-color: #ffffff;
                border-bottom: 2px solid #eaeaea;
                padding: 10px 20px;
                margin: 10px
            }

            .header-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                max-width: 1200px;
                margin: 0 auto;
            }

            .header_logo {
                display: flex;
                align-items: center;
            }

            .header_logo span {
                font-size: 24px;
                font-weight: bold;
                color: #1d4f91;
            }

            .contact-info {
                text-align: right;
                font-size: 14px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            .phone {
                font-size: 25px;
                font-weight: bold;
                color: #000;
                margin-right: 20px;
            }

            .phone a {
                text-decoration: none;
                color: #000;
            }

            .email a {
                background-color: #ff6600;
                color: white;
                padding: 8px 12px;
                text-decoration: none;
                border-radius: 5px;
            }

            .email a:hover {
                background-color: #e65c00;
            }
        }
